<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated classLayout2Frontend -->
      <package
            uri="http://www.classlayout2frontend.com/classLayout2Frontend"
            class="co.classLayout2Frontend.ClassLayout2FrontendPackage"
            genModel="model/classLayout2Frontend.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated angularIonic -->
      <package
            uri="http://www.angularionic.com/angularionic"
            class="angularIonic.AngularIonicPackage"
            genModel="model/angularIonic.genmodel"/>
   </extension>

</plugin>
